body { 
    font-family: Arial, sans-serif; font-size: 18px;
}
header,footer {
    background-color: aquamarine;
}
.site-title{
    color: blue;
}
#my-image {
    box-shadow: 0px 0px 2px 1px;
}
ol {
    list-style: square;
}
ol li:nth-child(odd) {
    background-color: aqua;
}
ul {
    list-style: none;

   
}
a{
    text-decoration: none;
    background-color: antiquewhite;
    border-radius: 5px;
    
}
a:hover{ background-color: red;
}

